@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url("./assets/bg.svg");
    background-repeat: no-repeat;
    background-size:60vh;
    background-position: top;
    background-color: rgba(32, 36, 54, 1);
}
/* dark mode looking scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}